@*css conf*@
<style>
    td{
        border:1px solid black;
    }
</style>

@*html *@
<table border="1">
    <tr>
        <td>Lanches</td>
        <td>Valor</td>
        <td>Comprar</td>
    </tr>
    <tr>
        <td>Lanche01</td>
        <td>15,00</td>
        <td> <button onclick="valor(15)">Compre 01...</button></td>

    </tr>
    <tr>
        <td>Lanche02</td>
        <td>10,00</td>
        <td><button onclick="valor(10)">Compre 02...</button></td>
        var 
    </tr>

</table>
<div>
    <p id="total"></p>
</div>
<script>
    function valor(preco) {
        var idP = total

        idP.textContent = preco
    }

</script>